<section class="home-main">
    <nav>
        <div class="brand">
            <img src="assets/images/logo.png" alt="My Music">
            <a href="/">BloodLink</a>
        </div>


        <i class="fa fa-bars" aria-hidden="true"></i>
        <!--This is use respons the web in other divce-->

        <ul>
            <i class="fa fa-times" aria-hidden="true"></i>
            <!--This is use respons the web in other divce-->

            <li><a href="#">Home</a></li>
            <li><a href="/userlogin">Request</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#contactUs">Contact Us</a></li>
            <li><a a routerLink="/userlogin">Login</a></li>
        </ul>
    </nav>


    <div class="main-content">

        <h1>" A bottle of blood saved my life.<br/> Was it yours? ".</h1>
        <p>
            Welcome to <b> Blood Link </b>, where every drop counts towards a healthier, brighter tomorrow. <br>
            Join us in the lifesaving journey of blood donation, making a lasting impact on lives in your community.
            <br>
            Together, we can ensure a steady supply of blood for <br>
            those in need.

        </p>

        <h3>
            Be a Hero, Donate Blood Today! Your Contribution Matters.
        </h3>

        <a a routerLink="/userregister" class="gradient-btn"> Register</a>
        <!-- <a href="" class="a">👈 Click Here for more Information about our Blood Bank Blood Link.</a> -->

    </div>

    <div class="bg">
        <img src="assets/images/home.png" alt="">
    </div>
</section>



<section class="about" id="about">
    <h1>About Us</h1>
    <div class="about-sub">
        <img src="assets/images/about4.png" alt="upload">
        <div class="sub-sub-about">
            <h2>Introduction :-</h2>
            <p> First of all Welcome to <span>Blood Link </span> where every drop counts in the journey of saving
                lives. Established with a commitment to ensuring a stable and accessible blood supply, we are a
                dedicated organization at the forefront of healthcare, bridging the gap between generous donors and
                those in need. </p>
        </div>
    </div>


    <div class="about-sub">

        <div class="sub-sub-about">
            <h2>Our Mission :-</h2>
            <p>At <span>Blood Link</span>, our mission is simple yet profound – to save lives by providing a reliable
                and sustainable source of blood and blood products. We believe in the power of community,
                compassion, and collaboration to make a positive impact on the health and well-being of individuals
                across our region.. </p>

        </div>
        <img src="assets/images/about3.webp" class="img2" alt="upload">
    </div>

</section>


<section class="contact" id="contactUs">
    <h1>Contact Us</h1>

    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your Name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your Email" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" placeholder="Enter your Message" required></textarea>

        <input type="submit" value="Submit">
    </form>
</section>


<footer>
    <div class="social-icons">
        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
        <!-- Add more social media icons as needed -->
    </div>
    <p>&copy; 2023 Your Website. All rights reserved.</p>
</footer>




