<div class="container">
    <form action="#" method="post" >
        <div class="title">
            New Blood Request
        </div>

        <div class="form">

            <div class="input_field">
                <label for="name">Name:</label>
                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" id="name" name="name"
                    placeholder="Enter patient Name" required>
            </div>


            <div class="input_field">
                <label for="email">Email:</label>
                <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true} " id="email" name="email"
                    placeholder="Enter Email" required>
            </div>


            <div class="input_field">
                <label for="bloodGroup">BloodGroup:</label>
                <select id="bloodGroup" name="bloodGroup" [(ngModel)]="bloodGroup" [ngModelOptions]="{standalone: true}"
                    placeholder="Select BloodGroup" required>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>


            </div>

            <div class="input_field">
                <label for="units">Required Units</label>
                <input type="number" [(ngModel)]="units" [ngModelOptions]="{standalone: true}" id="units" name="units"
                    placeholder="Enter Units Of Blood" required>

            </div>



            <div class="input_field">
                <label for="disease">Disease:</label>
                <input type="text" [(ngModel)]="disease" [ngModelOptions]="{standalone: true}" id="disease"
                    name="disease" placeholder="Enter Disease name if have" required>
            </div>


            <div class="input_field">
                <label for="mobile">Mobile:</label>
                <input type="tel" [(ngModel)]="mobile" [ngModelOptions]="{standalone: true}" id="mobile" name="mobile"
                    placeholder="Enter mobileNo" required>
            </div>

            <div class="input_field">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" [(ngModel)]="gender" [ngModelOptions]="{standalone: true}"
                    placeholder="Select Gender" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>


            <div class="input_field">
                <label for="age">Age:</label>
                <input type="number" [(ngModel)]="age" [ngModelOptions]="{standalone: true}" id="age" name="age"
                    placeholder="Enter Age" required>
            </div>


            <div class="input_field">
                <label for="address">Address:</label>
                <input type="text" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" id="address"
                    name="address" placeholder="Enter Address" required>
            </div>

            <div class="input_field">
                <label for="date">Date:</label>
                <input type="date" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" id="date" name="date"
                    placeholder="Selete date" required>
            </div>

            <hr>



           <button class="clearbtn" type="submit">Clear Form</button>
            <button class="savebtn" type="submit" (click)="makeRequest()">Send Request</button>
            <button class="canclebtn" type="submit" routerLink="/userhome">Cancel</button>





        </div>
    </form>
</div>